<div class="featured lazy" data-bg="url(/AllaiaEcommerce/img/banners/bannerh1.jpg)">
	<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
		<div class="container margin_60">
			<div class="row justify-content-center justify-content-md-start">
				<div class="col-lg-6 wow" data-wow-offset="150">
					<h3><br></h3>
					<p></p>
					<div class="feat_text_block">
						<div class="price_box">
							<span class="new_price"></span>
							<span class="old_price"></span>
						</div>
@* 						<a class="btn_1" href="listing-grid-1-full.html" role="button"></a>
 *@					</div>
				</div>
			</div>
		</div>
	</div>
</div>