<ul id="banners_grid" class="clearfix">
	<li>
		<a href="#0" class="img_container">
			<img src="/AllaiaEcommerce/img/carrousel1.jpg" data-src="/AllaiaEcommerce/img/carrousel1.jpg" alt="" class="lazy">
			<div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
				<h3>jouets educatifs</h3>
				<div><span class="btn_1">achetez maintenant</span></div>
			</div>
		</a>
	</li>
	<li>
		<a href="#0" class="img_container">
			<img src="/AllaiaEcommerce/img/carrousel3.png" data-src="/AllaiaEcommerce/img/carrousel3.png" alt="" class="lazy">
			<div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
				<h3>spetial reduction</h3>
				<div><span class="btn_1">achetez maintenant</span></div>
			</div>
		</a>
	</li>
	<li>
		<a href="#0" class="img_container">
			<img src="/AllaiaEcommerce/img/carrousel2.jpg" data-src="/AllaiaEcommerce/img/carrousel2.jpg" alt="" class="lazy">
			<div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
				<h3>echangez des maintenant</h3>
				<div><span class="btn_1">achetez maintenant</span></div>
			</div>
		</a>
	</li>
</ul>