@model UtilisateurL

@if ((await AuthorizationService.AuthorizeAsync(User, "ProfileAccessPolicy")).Succeeded)
{
	<div class="profile-setting">
		<form asp-action="Edit">
			<ul class="profile-edit-list row">
				<li class="weight-500 col-md-6">
					<h4 class="text-blue h5 mb-20">
						Editer Votre Profil
					</h4>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					
					<div class="form-group">
						<label asp-for="Nom" class="control-label"></label>
						<input asp-for="Nom" class="form-control" />
						<span asp-validation-for="Nom" class="text-danger"></span>
					</div>
                    <div class="form-group">
                        <label asp-for="Prenom" class="control-label"></label>
                        <input asp-for="Prenom" class="form-control" />
                        <span asp-validation-for="Prenom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telephone" class="control-label"></label>
                        <input asp-for="Telephone" class="form-control" />
                        <span asp-validation-for="Telephone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Adresse" class="control-label"></label>
                        <input asp-for="Adresse" class="form-control" />
                        <span asp-validation-for="Adresse" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VilleUser" class="control-label"></label>
                        <input asp-for="VilleUser" class="form-control" />
                        <span asp-validation-for="VilleUser" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="QuatierUser" class="control-label"></label>
                        <input asp-for="QuatierUser" class="form-control" />
                        <span asp-validation-for="QuatierUser" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Points" class="control-label"></label>
                        <input asp-for="Points" class="form-control" />
                        <span asp-validation-for="Points" class="text-danger"></span>
                    </div>
					<div class="form-group mb-0">
						<input type="submit"
							   class="btn btn-primary"
							   value="Modifier" />
					</div>
				</li>
			</ul>
		</form>
		@if (ViewBag.ErrorMessage != null)
		{
			<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
		}
		@if (ViewBag.SuccessMessage != null)
		{
			<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
		}
	</div>

}
