@model UserProfil;
@{
	ViewData["Title"] = "Profil";
	//Layout = "~/Views/StatutUser/Create.cshtml";
}

<div class="container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
					<div class="pd-20 card-box height-100-p">
						<div class="profile-photo">
							<a href="modal"
							   data-toggle="modal"
							   data-target="#modal"
							   class="edit-avatar">
								<i class="fa fa-pencil"></i>
							</a>
							<img src="~/DeskapAdmin/vendors/images/photo1.jpg"
								 alt=""
								 class="avatar-photo" />
							<div class="modal fade"
								 id="modal"
								 tabindex="-1"
								 role="dialog"
								 aria-labelledby="modalLabel"
								 aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered"
									 role="document">
									<div class="modal-content">
										<div class="modal-body pd-5">
											<div class="img-container">
												<img id="image"
													 src="~/DeskapAdmin/vendors/images/photo2.jpg"
													 alt="Picture" />
											</div>
										</div>
										<div class="modal-footer">
											<input type="submit"
												   value="Update"
												   class="btn btn-primary" />
											<button type="button"
													class="btn btn-default"
													data-dismiss="modal">
												Close
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
@*  						 					@Html.HiddenFor(model => model.utilisateur.Id)
 *@
						@try
						{
							<input type="hidden" name="Id" value="@Model.utilisateur.Id" />

						}
						catch (Exception ex)
						{

							Console.WriteLine(ex.Message);
						}

						<div class="profile-info">
							<h5 class="mb-20 h5 text-blue">Profil</h5>
							@if (!(await AuthorizationService.AuthorizeAsync(User, "ProfileAccessPolicy")).Succeeded)
							{
								<form id="sendmessageuser" asp-controller="Messages" asp-action="EnvoyerMessage" method="post">
									<div class="form-group">
										<input placeholder="Ecrivez votre message" class="form-control" name="message" required />
										<div id="messageeuure"> </div>
									</div>
									<button type="submit" class="btn_1">Envoyer message</button>
								</form>
							}
							<partial name="_DetailUserProfil" model="@Model.utilisateur" />
						</div>
					</div>
				</div>
				<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
					<div class="card-box height-100-p overflow-hidden">
						<div class="profile-tab height-100-p">
							<div class="tab height-100-p">
								<ul class="nav nav-tabs customtab" role="tablist">
									<li class="nav-item">
										<a class="nav-link"
										   data-toggle="tab" href="#jouets" role="tab" id="jouetsTab">Jouets</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"
										   data-toggle="tab" href="#annonces" role="tab" id="annoncesTab">Annonces</a>

									</li>
									@if ((await AuthorizationService.AuthorizeAsync(User, "ProfileAccessPolicy")).Succeeded)
									{
									@* 	<li class="nav-item">
											<a class="nav-link active" data-toggle="tab"
											   href="#echange"
											   role="tab">Echanges</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab"
											   href="#achat" role="tab">Achats</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab"
											   href="#editer" role="tab">Editer le profil</a>
										</li> *@
									}

								</ul>
								@{
									int idProfil = Model.utilisateur.Id;
								}

								<div class="tab-content">
									<div class="tab-pane" id="jouets" role="tabpanel">
										@* liste jouets*@

										@if ((await AuthorizationService.AuthorizeAsync(User, "ProfileAccessPolicy")).Succeeded)
										{
											<a asp-action="Create" asp-controller="Jouets" class="btn_1" style="margin:10px;"> Ajouter </a>
										}
@* 										<div class="container margin_30" id="listejouets"> </div>
										*@					
										<div style="margin:10px;">
											<partial name="_jouetsList" model="idProfil" />
										</div>

									</div>
									<div class="tab-pane" id="annonces" role="tabpanel">
										@* liste annonces*@

										@if ((await AuthorizationService.AuthorizeAsync(User, "ProfileAccessPolicy")).Succeeded)
										{
											<a asp-action="Create" asp-controller="Annonces" class="btn_1" style="margin:10px;"> Ajouter </a>
										}
										 @* <div class="container margin_30" id="listeAnnonce"> </div> *@
										<div style="margin:10px;">
											<partial name="_AnnoncesList" model="idProfil" />

										 </div>
									</div>
@* 									<div class="tab-pane fade " id="echange" role="tabpanel">
  										<partial name="_EchangeList" />
  									</div>
									<div class="tab-pane fade" id="achat" role="tabpanel">
 										<partial name="_AchatList" />
 									</div>
									<div class="tab-pane fade height-100-p" id="editer">
										 									<partial name="_EditerProfil" />
										
									</div> *@
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<script src="~/DeskapAdmin/vendors/scripts/core.js"></script>
  	<script src="~/js/profil.js"></script>  