@{
    ViewData["Title"] = "Home Page";
}

<partial name="AllaiaTemplate/_SliderTopHomePage" />

<!--/carousel-->

<partial name="AllaiaTemplate/_CarouselTopHomePage" />

<!--/banners_grid -->

<partial name="AllaiaTemplate/_ProductHomePage" />

<!-- /container -->

<partial name="AllaiaTemplate/_Banner" />

<!-- /featured -->
@await Component.InvokeAsync("ProductBloc", new{name = "Poupées et peluches"})

@* <partial name="AllaiaTemplate/_ProductBlocSlide" />
 *@
<!-- /container -->

@* <partial name="AllaiaTemplate/_Partner" />
 *@
<!-- /bg_gray -->

@* <partial name="AllaiaTemplate/_Blog" />
 *@
@await Component.InvokeAsync("DernieresAnnonces")
<!-- /container -->

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
