@using SiteWeb.Services.Interfaces;
@model ModelsLibrary.Models.Toys.Toy
@inject ICategorieJouetService _categorieJouetService
@inject IEtatJouetService _etatService

@{
    ViewData["Title"] = "Create";
    // Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

<hr />

<div class="container margin_60_35">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="write_review">
                <h1>Ajouter un jouet</h1>

                <form method="post" asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger mx-auto">@ViewBag.ErrorMessage</div>
                    }
                    <div class="form-group">
                        <label class="form-label">Nom</label>
                        <input asp-for="Nom" type="text" class="form-control" id="Nom" />
                        <span asp-validation-for="Nom" class="text-danger"></span>

                    </div>
                    <div class="form-group">

                        <label asp-for="Categorie" class="form-label">Catégorie</label>
                        @{
                            var categories = await _categorieJouetService.GetCategorieJouets();
                        }
                        <select asp-for="Categorie" asp-items="@categories.Select(c => new SelectListItem { Value = c.Id.ToString(), Text = c.Nom })" class="form-control form-select"></select>
                        <span asp-validation-for="Categorie" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label for="Descriptions" class="form-label">Descriptions</label>
                        <textarea asp-for="Descriptions" style="height: 180px;" class="form-control" id="Descriptions" placeholder="Description du jouet"></textarea>
                        <span asp-validation-for="Descriptions" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="AgeMin" class="form-label">Âge minimum</label>
                        <input asp-for="AgeMin" type="number" class="form-control" id="AgeMin" />
                        <span asp-validation-for="AgeMin" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="AgeMax" class="form-label">Âge maximum</label>
                        <input asp-for="AgeMax" type="number" class="form-control" id="AgeMax" />
                    </div>
                    <div class="form-group ">
                        <label asp-for="EtatId" class="form-label">État du jouet</label>

                        @{
                            var etats = await _etatService.GetEtatJouets();
                        }

                            <select asp-for="EtatId" asp-items="@etats.Select(c => new SelectListItem { Value = c.Id.ToString(), Text = c.Nom })" class="form-control form-select"></select>
                        <span asp-validation-for="EtatId" class="text-danger"></span>

                    </div>
                    <div class="form-group form-check">
                        <input asp-for="AcceptTroc" type="checkbox" class="form-check-input" id="AcceptTroc" />
                        <label asp-for="AcceptTroc" class="form-check-label" >Accepte le troc</label>
                        <span asp-validation-for="AcceptTroc" class="text-danger"></span>

                    </div>
                    <div class="form-group form-check">
                        <input asp-for="AcceptAchat" type="checkbox" class="form-check-input" id="AcceptAchat" />
                        <label asp-for="AcceptAchat" class="form-check-label" >Accepte l'achat</label>
                        <span asp-validation-for="AcceptAchat" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Prix" class="form-label">Prix</label>
                        <input asp-for="Prix" type="number" class="form-control" id="Prix" />
                        <span asp-validation-for="Prix" class="text-danger"></span>

                    </div>
                    <div class="form-group form-check">
                        <input asp-for="EstPublier" type="checkbox" class="form-check-input" id="EstPublier" />
                        <label asp-for="EstPublier" class="form-check-label" for="EstPublier">Publier</label>
                        <span asp-validation-for="EstPublier" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label>Ajoutez vos photos</label>
                        <div class="fileupload"><input type="file" multiple name="images" accept="image/*"></div>
                        <span asp-validation-for="listPhotos" class="text-danger"></span>

                    </div>

                    <button type="submit" class="btn_1">Ajouter</button>

                </form>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
