@model ModelsLibrary.Models.Jouet

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

<h1>Edit</h1>

<h4>Jouet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorie" class="control-label"></label>
                <input asp-for="Categorie" class="form-control" />
                <span asp-validation-for="Categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriptions" class="control-label"></label>
                <input asp-for="Descriptions" class="form-control" />
                <span asp-validation-for="Descriptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeMin" class="control-label"></label>
                <input asp-for="AgeMin" class="form-control" />
                <span asp-validation-for="AgeMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeMax" class="control-label"></label>
                <input asp-for="AgeMax" class="form-control" />
                <span asp-validation-for="AgeMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EtatId" class="control-label"></label>
                <input asp-for="EtatId" class="form-control" />
                <span asp-validation-for="EtatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcceptTroc" class="control-label"></label>
                <input asp-for="AcceptTroc" class="form-control" />
                <span asp-validation-for="AcceptTroc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcceptAchat" class="control-label"></label>
                <input asp-for="AcceptAchat" class="form-control" />
                <span asp-validation-for="AcceptAchat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proprietaire" class="control-label"></label>
                <input asp-for="Proprietaire" class="form-control" />
                <span asp-validation-for="Proprietaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstPublier" class="control-label"></label>
                <input asp-for="EstPublier" class="form-control" />
                <span asp-validation-for="EstPublier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
