@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Mvc;

@using Microsoft.AspNetCore.Authentication.Cookies;
@{


}
<ul class="navbar-nav">
    @{
        ClaimsPrincipal claimsPrincipal = Context.User;
        var NameUser = User.FindFirst("NameLastName")?.Value;

    }
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Utilisateurs" asp-action="">Bonjour @NameUser</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Utilisateurs" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Utilisateurs" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Utilisateurs" asp-action="Login">Login</a>
        </li>
    }
</ul>