<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h6><i class="fas fa-ban"></i><b> ERROR: 403 FORBIDDEN!</b></h6>
        Sorry, access to this resource on the server is denied.
</div>